@import url(https://fonts.googleapis.com/css?family=Baloo&display=swap);
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b; }

h1, h2, h3, h4, h5 {
  margin: 6px;
  padding: 0; }

img {
  height: 8em;
  max-width: 100%; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
  position: relative; }

#player {
  height: 0;
  opacity: 0;
  width: 0; }

#beam {
  margin: 1em;
  background: 0;
  border: 0;
  display: block;
  background: #fff;
  color: #7c48c3;
  font-family: 'Baloo';
  font-size: 1.25em;
  padding: 0.5em 1em;
  border-radius: 3em;
  position: relative;
  z-index: 0; }
  #beam:before {
    z-index: -5;
    content: "";
    background: linear-gradient(to left, #3023AE, #C86DD7);
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: calc(1.25em + 4px); }
  #beam:after {
    z-index: -4;
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: calc(100%);
    border-radius: 1.25em; }

.ratio {
  width: 100%;
  margin: 1em;
  padding-bottom: 100%;
  position: relative; }

canvas, video, .overlay {
  border-radius: 1em;
  background: #eee;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute; }

.overlay {
  background: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo';
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 2em;
  color: white; }

main {
  max-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

